@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_AdminLayout";
}
<div>
    <div class="col-lg-12 mt-5 pt-5">
        <input hidden value="@ViewBag.access_token" id="access" />
        <h2 class="section-title">@Localizer["All tables"]</h2>
        <div><a asp-controller="Table" asp-action="Create" class="basic-button btn btn-dark col-1">@Localizer["Add"]</a></div>
        <h5 class="danger-text">@TempData["Error"]</h5>
        <div class="overflow-auto text-nowrap">
            <table class="table basic-table">
                <thead class="table-headers">
                    <tr>
                        <th>
                            @Html.Label("Id")
                        </th>
                        <th>
                            @Localizer["Name"]
                        </th>

                        <th>
                            @Localizer["Active"]
                        </th>


                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbody" class="table-records">
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="/js/TableGet.js"></script>
    <script src="/js/DeleteTable.js"></script>

}