@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                @Localizer["You create new dish"]
            </div>
        </div>
    </div>
</div>

<div class="vh-100 vw-100 mt-5">
    <div class="container vw-100 text-center">
        <input hidden value="@ViewBag.access_token" id="access" />
        <input id="DishId" hidden value="@Guid.NewGuid()" />
        <input class="form-control-plaintext" placeholder="@Localizer["Name of the dish"]" id="DishName" />
        <input class="form-control-plaintext" placeholder="@Localizer["Description of the dish"]" id="DishDescription" />
        <input class="form-control-plaintext" placeholder="@Localizer["Price of the dish"]" id="DishPrice" />
        <input class="btn btn-dark" id="submit" type="submit" value="@Localizer["Create"]" />
    </div>
</div>


@section Scripts{

<script src="../js/Dish.js"></script>
}
