@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Restraunt.Core.Dto.LoginDto
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restraunt.Identity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Restraunt.Identity.styles.css" asp-append-version="true" />
</head>
<div class="blocklogin btn-group-vertical">
    <div class="container text-center">

        <form class="p-5" method="post" asp-controller="Account" asp-action="Login">

            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="ReturnUrl" />
            <input placeholder="@Localizer["Login"]" class="w-50 form-control-sm" asp-for="UserName" /><br />
            <input type="password" placeholder="@Localizer["Password"]" class="w-50 form-control-sm m-2" asp-for="Password"/><br />
            <input type="submit" class="btn btn-dark" value="@Localizer["Sign in"]"/>
            
        </form>



        <div class="container text-center">
            <a class="btn btn-default" asp-controller="Account" asp-action="SignInGoogle">Log in with Google</a>
            </div>
        <a class="text-center" asp-controller="Account" asp-action="Register"
           asp-route-returnUrl="@Model.ReturnUrl">@Localizer["Didn't have a account?"]</a>
        

    </div>
</div>


<script src="/_framework/aspnetcore-browser-refresh.js"></script>