@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Home Page"];
}


<div class="customContainer blockMain" data-mdb-scale="1">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light text-white box-shadow mb-3 top-block h3 flex-column-reverse">
        <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex">
                <ul class="navbar-nav flex-grow-1">
                    <li class="d-flex h4">
                        @await Html.PartialAsync("_SelectLanguagePartial")
                    </li>
                </ul>
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                    </li>
                    

                
            
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Panel" asp-action="Adminpanel">@Localizer["Admin panel"]</a>
                        </li>

                    }
                    else if (User.IsInRole("Waiter"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Panel" asp-action="Waiterpanel">@Localizer["Waiter panel"]</a>
                        </li>
                    }


                    @if (!User.Identity.IsAuthenticated)

                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white">@User.Identity.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container centered-block">
        <div class="text-center text__main">
        <h1 class="text-white display-1">@Localizer["THE RESTO"]</h1>
        <h1 class="text-white display-2">@Localizer["An industry that starts with your stomach"]</h1>      
        <a class="btn btn-lg text-white border border-white display-3" asp-controller="Table" asp-action="Menu">@Localizer["MENU"]</a>
        </div>
    </div>
</div>

<div class="customContainer mt-5">
    <h1 class="text-center">@Localizer["What do you do?"]</h1>
    <div class="row frame" data-aos="fade-up"
         data-aos-anchor-placement="top-center">
        <div class="col-sm-4 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-qr-code-scan" viewBox="0 0 16 16">
                <path d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0v-3Zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5ZM.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5Zm15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5ZM4 4h1v1H4V4Z" />
                <path d="M7 2H2v5h5V2ZM3 3h3v3H3V3Zm2 8H4v1h1v-1Z" />
                <path d="M7 9H2v5h5V9Zm-4 1h3v3H3v-3Zm8-6h1v1h-1V4Z" />
                <path d="M9 2h5v5H9V2Zm1 1v3h3V3h-3ZM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8H8Zm2 2H9V9h1v1Zm4 2h-1v1h-2v1h3v-2Zm-4 2v-1H8v1h2Z" />
                <path d="M12 9h2V8h-2v1Z" />
            </svg>
            <h2>@Localizer["Scan QR Code"]</h2>
        </div>
        <div class="col-sm-4 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
            <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
            <h2>@Localizer["Order the dish"]</h2>
        </div>
        <div class="col-sm-4 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
            </svg>
            <h2>@Localizer["Delicious to eat"]</h2>
        </div>

    </div>
</div>

<div class="customContainer mt-5">
   
    <div class="row">
        <div class="col-6 align-content-lg-center" data-aos="fade-right">
            <img class="img-fluid" src="~/img/photo1.svg"/>
        </div>
        <div class="col-6 btn-group-vertical" data-aos="fade-left">
           <div class="container">
            <h1>@Localizer["Proper nutrition implies that the body regularly,"]</h1>
            <h1>@Localizer["in the required quantity and optimal ratios,"]</h1>
            <h1>@Localizer["must receive many nutrients - proteins,"]</h1>
            <h1>@Localizer["carbohydrates, fats, water, minerals and vitamins."]</h1>
           </div>
        </div>

    </div> 
</div>

<div class="customContainer mt-5">

    <div class="row">
        <div class="col-6 btn-group-vertical" data-aos="fade-right">
            <div class="container text-center">
            <h1>@Localizer["Our restraunt have a good menu."]</h1>
            <h1>@Localizer["You can check"]</h1>
                <h1><a asp-controller="Table" asp-action="Menu" class="btn btn-dark">@Localizer["CLICK HERE"]</a></h1>
            </div>
        </div>
        <div class="col-6 align-content-lg-center" data-aos="fade-left">
           <img class="img-fluid" src="img/flat-lay-batch-cooking-composition_23-2148765597.webp"/>
        </div>

    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
           <script>AOS.init();</script>